<ion-header>
  <ion-toolbar color="information">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="back"></ion-back-button>
    </ion-buttons>
    <ion-img slot="start" src="/assets/icon/eventos.png"></ion-img>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="location">
      <!-- <i class="fas fa-map-marker-alt"></i> -->
      <ion-select placeholder="Ubicación"  [interfaceOptions]="selectCustom" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="San José">San José</ion-select-option>
      <ion-select-option value="Colonia">Colonia</ion-select-option>
    </ion-select>
    </div>
    <ion-searchbar placeholder="Buscar..."></ion-searchbar>
    <div class="filter">
      <ion-chip>
        <ion-label><i class="fas fa-sliders-h"></i>&nbsp; Filtros</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label><i class="fas fa-calendar-day"></i>&nbsp; Hoy</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label><i class="fas fa-calendar-week"></i>&nbsp; Esta semana</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label><i class="fas fa-calendar-alt"></i>&nbsp; Este mes</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label><i class="fas fa-music"></i>&nbsp; Música</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label><i class="fas fa-paint-brush"></i>&nbsp; Cultura</ion-label>
      </ion-chip>
    </div>
  </div>

  <ion-list>
    <ion-item class="event" *ngFor="let item of eventos">
      <ion-avatar item-start class="image-event">
        <ion-img [src]="item.imagen" class="img-elem"></ion-img>
      </ion-avatar>
      <div class="info-event">
        <div class="fecha">{{item.fecha}}</div>
        <div class="titulo">{{item.titulo}}</div>
        <div class="descripcion">{{item.descripcion}}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
