<ion-header>
    <ion-toolbar color="favorite">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="back"></ion-back-button>
        </ion-buttons>
        <ion-icon class="icon-info" slot="end" name="heart"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
    <div class="sinFavoritos" *ngIf="favourite?.length == 0">
        <ion-icon class="iconSinFav" name="sad-outline"></ion-icon>
        <div>
            Aún no ha agregado favoritos
        </div>
    </div>
    <ion-card *ngFor="let item of favourite">
        <ion-card-header color="circuits">
            {{ item.nombre }}
        </ion-card-header>
        <ion-card-content>
            <img width="auto" height="40%" src="{{ item.imagen }}" alt="{{ item.nombre }}">
            <div class="duracion">
                <div class="estrellas">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>