.icon-info {
    color: #fff;
    font-size: 250%;
    margin-right: 6%;
}

.sc-ion-searchbar-md-h {
    --box-shadow: none !important;
}

ion-card{
	margin: 0 5% 5% 5%;
	border: none !important;
	box-shadow: none !important;
	border-radius: 15px !important;
}

ion-card-header{
	padding: 4% !important;
	font-family: Barlow;
	font-weight: 600;
	font-size: 120%;
	color: #ffffff;
}

ion-card {
    img {
        height: 25vh !important;
        width: 100% !important;
        max-width: 100%;
        align-items: center;
    }

    ion-card-content {
        padding: 0 !important;
    }
}

.estrellas{
	float: right;
}

.sinFavoritos{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Barlow';
    font-size: 140%;
    color: #c706ff;
}

.iconSinFav{
    font-size: 60px;
    color: #c706ff;
}