ion-toolbar {
  height: 8vh;
}

ion-slides {
  height: 88vh;
  margin: 2vh 3%;
  border-radius: 10px !important;
}

ion-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px !important;
}

.info {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  max-height: 30vh;
  padding-top: 20px;
}

.info_detalle {
  padding-top: 20px;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

ion-avatar {
  width: 100%;
  height: auto;
  min-height: calc((100vw - (100vw * 0.06)) / 1.33);
  --border-radius: 10px 10px 0 0;
}
