<ion-header>
    <ion-toolbar color="circuits">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="back"></ion-back-button>
        </ion-buttons>
        <ion-img src="/assets/icon/location.png" class="iconInfo" slot="end"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar cancelButtonText="Custom Cancel" placeholder="¡Elegí tu itinerario!" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-card *ngFor="let item of tipoCircuito | filtroTipoCircuito:textoBuscar" routerLink="/{{item.nombre}}">
        <ion-card-header color="information">
            {{ item.nombre }} <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span> {{item.ciudad}}
        </ion-card-header>
        <ion-card-content>
            <img src="{{ item.imagenPrincipal }}" alt="{{ item.nombre }}">
            <div class="duracion">
                Recorre la ciudad
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let item of lugaresRurales | filtroTipoCircuito:textoBuscar" [routerLink]="['/places', item.$key]">
        <ion-card-header color="options">
            Rural &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{ item.nombre }}
        </ion-card-header>
        <ion-card-content>
            <img src="{{ item.imagenHome }}" alt="{{ item.nombre }}">
            <div class="duracion">
                <b>+ Mal Abrigo</b>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>