<ion-header>
  <ion-toolbar color="eat">
    <ion-img slot="start" src="/assets/icon/comida.png"></ion-img>
    <ion-title>¿Dónde Comer?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="alto" class="slider">
    <ion-slides
      class="sliderPrimero"
      scrollbar="false"
      pager="false"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let item of sliderDondeComer" class="sliderHijo">
        <img class="imgSlider" src="{{item.imagen}}" />
      </ion-slide>
    </ion-slides>
    
    <!-- filtro -->
    <div class="filter_place">
      <ion-label *ngIf="isOpenLocation === false " (click)="changeFilterLocation()">Localidad</ion-label>
      <ion-label *ngIf="isOpenLocation" class="open_acordeon" (click)="changeFilterLocation()">Localidad</ion-label>
    </div>

    
    <div *ngIf="isFilterLocation" >
      <form [formGroup]="filterForm" class="form_filter" >
  <!-- Filtro por Localidad  -->
        <div>
          <div (click)="changeLocation()" class="filter_name">
            <span *ngIf="isOpenLocation === false">Localidad</span>
            <span class="open_acordeon" *ngIf="isOpenLocation">Localidad</span>
            <i
              *ngIf="isOpenLocation === false"
              class="fi fi-rr-angle-down icon_arrow"
            ></i>
            <i *ngIf="isOpenLocation" class="fi fi-rr-angle-up icon_arrow open_acordeon"></i>
          </div>
          <div *ngIf="isOpenLocation">
            <ion-list>
              <ion-radio-group
                (ionChange)="filterEat()"
                formControlName="localidad"
              >
                <ion-item class="filter_list" lines="none">
                  <ion-text>Todo</ion-text>
                  <ion-radio slot="end" value=""></ion-radio>
                </ion-item>
                <ion-item
                  class="filter_list"
                  lines="none"
                  *ngFor="let loc of localidades"
                >
                  <ion-text>{{ loc }}</ion-text>
                  <ion-radio
                    slot="end"
                    value="{{ loc }}"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
      <!-- filtro por Localidad -->
      </form>
    </div>
  </div>

  
  <ion-list class="lista">
    <div class="empty" *ngIf="eat.length == 0">
      <i class="fi fi-rr-sad icon_empty"></i>
      <div class="text_empty">
        No hay lugares para el departamento seleccionado
      </div>
    </div>
    <ion-item *ngFor="let item of eat | filtroDondeComer:dataForm">
      <div class="padre">
        <div class="imagen">
          <ion-avatar item-start>
            <ion-img [src]="item.imagen.url" class="img-elem"></ion-img>
          </ion-avatar>
        </div>
        <div class="info">
          <ion-label>
            <h2 id="eat-info">{{ item.nombre }}</h2>
            <div class="infoAbajo">
              <h3 id="eat-info">{{ item.direccion }}</h3>
              <p id="eat-info" *ngFor="let tel of item.telefonos">
                <span id="eat-info">Tel: </span>{{ tel.numero }}
              </p>
            </div>
          </ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
