

<ion-grid class="ion-margin-top ion-margin-start:0px " >
  <ion-buttons *ngIf="!speaking && !paused" >
    <ion-button
      (click)=" reproducirDescripcion(descripcion);
                speaking = !speaking "
    >
      <i color="back"  class="fi fi-rr-play"></i>
      <!-- <img src="/assets/icon/text-to-speech1" alt="text-to-speech"> -->
    </ion-button>
    <ion-button>
      <i color="back"  class="fi fi-rr-file-music"></i>
    </ion-button> <p>{{ speaking }}</p><p>{{ paused }}</p> 
  </ion-buttons>

  <ion-buttons *ngIf="speaking && !paused" >
    <ion-button
      (click)=" pausarReproduccion();
                paused = !paused; "
    >
    <i class="fi fi-rr-pause"></i>
    </ion-button>
    <ion-button
      (click)=" detenerReproduccion();
                speaking = false; 
                paused = false; "
    >
      <i color="back"  class="fi fi-rr-stop"></i>
    </ion-button>  <p>{{ speaking }}</p><p>{{ paused }}</p> 
  </ion-buttons>

  <ion-buttons *ngIf="speaking && paused" >
    <ion-button
      (click)=" reanudarReproduccion();
                paused = !paused; "
    >
    <i class="fi fi-rr-play"></i>
    </ion-button>
    <ion-button
      (click)=" detenerReproduccion();
                speaking = false; 
                paused = false; "
    >
      <i color="back"  class="fi fi-rr-stop"></i>
    </ion-button>  <p>{{ speaking }}</p><p>{{ paused }}</p> 
  </ion-buttons>
</ion-grid>