.sc-ion-searchbar-md-h {
    --box-shadow: none !important;
}

  .icon-options{
  	color: #fff;
  	font-size: 200%;
  }

  .text{
  	margin-left: 5%;
  	font-weight: 600;
    color: #A6A6A6;
  }

ion-grid, ion-searchbar{
	margin-left: 4% !important;
}

.hrefIcon{
  text-decoration: none;
}