<ion-header>
    <ion-toolbar color="options">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar placeholder=""></ion-searchbar>
    <ion-grid>
        <a class="hrefIcon" routerLink="/where-sleep">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/dormir.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">¿Dónde Dormir?</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/where-eat">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/comida.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">¿Dónde Comer?</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/art-culture">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/arteycultura.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">Arte y Cultura</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/sj-events">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/eventos.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">SJ Eventos</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/guided-visits">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <!-- <ion-img src="/assets/icon/dormir.png"></ion-img> -->
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">Visitas guiadas</p>
                </ion-col>
            </ion-row>
        </a>
    </ion-grid>
</ion-content>