<ion-header>
    <ion-toolbar color="options">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar placeholder="" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list *ngIf="textoBuscar.length > 0 ">
        <ion-item *ngFor="let item of sleep | filtroMasOpciones:textoBuscar">
            <div class="padre">
                <div class="imagen">
                    <ion-avatar slot="start">
                        <img src="{{ item.imagen }}">
                    </ion-avatar>
                </div>
                <div class="info">
                    <ion-label>
                        <h2>{{ item.nombre }}</h2>
                        <div class="infoAbajo">
                            <h3>{{ item.direccion }}</h3>
                            <p><span>Tel: </span>{{ item.telefono }}</p>
                        </div>
                    </ion-label>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <ion-grid *ngIf="textoBuscar.length === 0">
        <a class="hrefIcon" routerLink="/where-sleep">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/dormir.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">¿Dónde Dormir?</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/where-eat">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/comida.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">¿Dónde Comer?</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/party-house">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/party.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">Casas de Fiesta</p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/art-culture">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/arteycultura.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">Arte y Cultura <span>&nbsp;&nbsp;</span><em>en desarrollo</em></p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/sj-events">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/eventos.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">SJ Eventos<span>&nbsp;&nbsp;</span><em>en desarrollo</em></p>
                </ion-col>
            </ion-row>
        </a>
        <a class="hrefIcon" routerLink="/guided-visits">
            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-img src="/assets/icon/visit.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col>
                    <p class="text">Visitas guiadas<span>&nbsp;&nbsp;</span><em>en desarrollo</em></p>
                </ion-col>
            </ion-row>
        </a>
    </ion-grid>
</ion-content>