.sc-ion-searchbar-md-h {
    --box-shadow: none !important;
}

.circulo {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .icon1 {
    background-color: #0ae9e6;
    margin: 0.5% 0 0.5% 0;
  } 
  
  .icon2 {
    background-color: #ff9c00;
    margin: 0.5% 0 0.5% 0;
  } 
  
  .icon3 {
    background-color: #10dda6;
    margin: 0.5% 0 0.5% 0;
  } 
  
  .icon4 {
    background-color: #ffd200;
    margin: 0.5% 0 0.5% 0;
  }

   .icon5 {
    background-color: #c706ff;
    margin: 0.5% 0 0.5% 0;
  }

  .sleep, .eat, .art, .events, .visits{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .icon-options{
  	color: #fff;
  	font-size: 200%;
  }

  .text{
  	margin-left: 5%;
  	font-weight: 600;
    color: #A6A6A6;
  }
