<ion-header>
    <ion-toolbar color="information">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="back"></ion-back-button>
        </ion-buttons>
        <ion-img src="/assets/icon/info.png" class="iconInfo" slot="end"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar placeholder=""></ion-searchbar>
    <ion-list *ngFor="let item of information; let i = index" class="accordion-list" lines="none" detail="false" no-padding>
        <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="item-accordion" color="acorddion">
            <ion-icon class="info-name" slot="start" name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon class="info-name" slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
            <ion-label class="info-name">{{ item.name }}</ion-label>
        </ion-item>
        <div class="children-content" *ngIf="item.children && item.open">
            <ion-list *ngFor="let child of item.children; let j = index" lines="none" class="child-list">
                <ion-item class="item-children">
                    <ion-label class="label-child"><b>{{ child.info }}</b> {{ child.number }}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ion-list>
</ion-content>