.ion-padding {
    --padding-start: var(--ion-padding, 0px) !important;
    --padding-end: var(--ion-padding, 0px) !important;
    --padding-top: var(--ion-padding, 0px) !important;
    --padding-bottom: var(--ion-padding, 0px) !important;
}

.valorar{
	text-align: center;
}