<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">Ir a home</ion-button>
      
    </ion-buttons>
    <ion-button slot="end" *ngIf="authenticationService.userData | async" (click)="signOut()">Salir</ion-button> 
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
     <img class="logo" src="../../../assets/img/logo.jpg"/>
  </div>
 

  <h1 *ngIf="authenticationService.userData | async">Hello {{ (authenticationService.userData | async)?.email }}</h1>

   <div *ngIf="!(authenticationService.userData | async)"> 
  <!-- <form #formulario="ngForm" (ngSubmit)="onSubmit()"></form> -->
    <ion-list>

      <ion-item class="itemName">
        <!-- <ion-label position="floating">Email</ion-label> -->
        <ion-input class="email" name="email" type="email" placeholder="E-mail" [(ngModel)]="email" ></ion-input>
      </ion-item>

      <ion-item>
       <!--  <ion-label position="floating">Contraseña</ion-label> -->
        <ion-input class="password" name="password" type="password" placeholder="Contraseña" [(ngModel)]="password" ></ion-input>
      </ion-item>

      <!-- <ion-item button (click)="signUp()">
        <ion-label color="primary" >Registrarse</ion-label>
      </ion-item> -->

    </ion-list>

    <ion-button color="dark" expand="block" (click)="signIn()">Iniciar</ion-button>
    
      
  <!-- </form> -->
  
  
<p class="remember">¿Has olvidado tu contraseña? <a class="register">Registrate</a></p>
    </div>
    <h3 class="continue"><a class="cont">Continuar sin registro</a></h3>
</ion-content>
