<!-- <ion-header>
  <ion-toolbar>
    <ion-title>artist</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="alto" class="slider">
    <ion-slides class="sliderPrimero" scrollbar="false" pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let item of sliderArtist" class="sliderHijo">
        <img class="imgSlider" src="{{item.imagen.url}}" />
      </ion-slide>          
    </ion-slides>
  <!-- </div> -->

    <!-- =========>=>=>=> Filtro =========>=>=>=> -->
    <div 
      *ngIf="!selectdistancia"
      class="filter_place">
      <ion-label id="filters" *ngIf="isOpenLocation === false " (click)="changeFilterLocation()">localidad</ion-label>
      <ion-label *ngIf="isOpenLocation" class="open_acordeon" (click)="changeFilterLocation()">localidad</ion-label>
      <img src="/assets/icon/exchange.png" alt="" />
      <ion-label id="filters" *ngIf="isOpenType === false" (click)="changeFilterType()">tipo</ion-label>
      <ion-label *ngIf="isOpenType" class="open_acordeon" (click)="changeFilterType()">tipo</ion-label>
    </div>

    <div *ngIf="isFilterLocation || isFilterType">
      <form [formGroup]="filterForm" class="form_filter">
  <!-- Filtro por Nombre  -->
        <div>
          <div (click)="changeLocation()" class="filter_name">
            <span id="filters" *ngIf="isOpenLocation === false">Localidad</span>
            <span id="filters" class="open_acordeon" *ngIf="isOpenLocation">Localidad</span>
            <i
              *ngIf="isOpenLocation === false"
              class="fi fi-rr-angle-down icon_arrow"
            ></i>
            <i *ngIf="isOpenLocation" class="fi fi-rr-angle-up icon_arrow open_acordeon"></i>
          </div>
          <div *ngIf="isOpenLocation">
            <ion-list>
              <ion-radio-group
                (ionChange)="filterArtist()"
                formControlName="localidad"
              >
                <ion-item class="filter_list" lines="none">
                  <ion-text id="filters" >Todo</ion-text>
                  <ion-radio slot="end" value=""></ion-radio>
                </ion-item>
                <ion-item
                  class="filter_list"
                  lines="none"
                  *ngFor="let localidad of lista_localidad_artis"
                >
                  <ion-text id="filters" >{{ localidad }}</ion-text>
                  <ion-radio
                    slot="end"
                    value="{{ localidad }}"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
  <!-- filtro por Localidad -->

  <!-- filtro por Tipo -->
        <div>
          <div (click)="changeType()" class="filter_name filter_type">
            <span id="filters" *ngIf="isOpenType === false">Tipo</span>
            <span id="filters" class="open_acordeon" *ngIf="isOpenType">Tipo</span>
            <i
              *ngIf="isOpenType === false"
              class="fi fi-rr-angle-down icon_arrow"
            ></i>
            <i *ngIf="isOpenType" class="fi fi-rr-angle-up icon_arrow open_acordeon"></i>
          </div>
          <div *ngIf="isOpenType">
            <ion-list class="list_type">
              <ion-radio-group
                (ionChange)="filterArtist()"
                formControlName="categoria"
                class="type_border"
              >
                <ion-item class="filter_list" lines="none">
                  <ion-text id="filters" >Todo</ion-text>
                  <ion-radio slot="end" value=""></ion-radio>
                </ion-item>
                <ion-item
                  class="filter_list last"
                  lines="none"
                  *ngFor="let tipo of lista_tipo_artis"
                >
                  <ion-text id="filters" >{{ tipo }}</ion-text>
                  <ion-radio
                    slot="end"
                    value="{{ tipo }}"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
  <!-- Filtro por Tipo -->
      </form>
    </div>
  </div>



  <ion-list >
    <div class="artist" *ngFor="let art of artists | filterArtist:dataForm">
      <div class="imgArtist">
        <ion-img [src]="art.imagen.url" class="img-elem"></ion-img>
      </div>
      <div class="infoArtist">
        <div id="info-art" class="type">{{ art.categoria }}</div>
        <div id="info-art" class="name">{{ art.nombre }}</div>
        <div class="netArtist">
          <img *ngIf="art.instagram !== null" (click)="openInstagram(art.instagram)" src="/assets/icon/instagram.png" alt="instagram">
          <img *ngIf="art.spotify !== null" (click)="openSpotify(art.spotify)" src="/assets/icon/spotify.png" alt="spotify">
          <img *ngIf="art.youtube !== null" (click)="verVideo(art.youtube)" src="/assets/icon/youtube.png" alt="youtube">
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
