<ion-content>
  <div>
    <h2>Accesibilidad</h2>
    <ion-item>
      <i class="fas fa-blind" slot="end"></i>
      <ion-label>Rampas</ion-label>
    </ion-item>
    <ion-item>
      <i class="fas fa-toilet" slot="end"></i>
      <ion-label>Baños públicos</ion-label>
    </ion-item>
    <ion-item>
      <i class="fas fa-wheelchair" slot="end"></i>
      <ion-label>Silla de ruedas</ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-button class="btn_salir" (click)="salir()" expand="full"
  >Cerrar</ion-button
>
