<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-button slot="end" (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
            Cerrar Sesión
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="padre">
        <div class="slider">
            <ion-slides class="sliderPrimero" scrollbar="true" pager="true" [options]="slideOpts">
                <ion-slide class="sliderHijo">
                    <a href="https://wa.me/59895030529?text=Hola,%20quería%20consultar%20sobre%20el%20servicio%20de%20bicicletas.">
                        <img class="imgSlider" src="/assets/img/slider1.jpeg" />
                    </a>
                </ion-slide>
                <ion-slide class="sliderHijo" [routerLink]="['/']">
                    <img class="imgSlider" src="/assets/img/slider2.png" />
                </ion-slide>
                <ion-slide class="sliderHijo" [routerLink]="['/']">
                    <img class="imgSlider" src="/assets/img/slider3.png" />
                </ion-slide>
            </ion-slides>
        </div>
        <div class="menu">
            <div class="contenedor-iconos">
                <div class="icono">
                    <a class="iconMenu" routerLink="/circuits">
                        <ion-img src="/assets/icon/location.png"></ion-img>
                    </a>
                </div>
                <div class="icono">
                    <a class="iconMenu" routerLink="/favorite">
                        <ion-img src="/assets/icon/favorito.png"></ion-img>
                    </a>
                </div>
                <div class="icono">
                    <a class="iconMenu" routerLink="/information">
                        <ion-img src="/assets/icon/info.png"></ion-img>
                    </a>
                </div>
                <div class="icono">
                    <a class="iconMenu" routerLink="/more-options">
                        <ion-img src="/assets/icon/masOpciones.png"></ion-img>
                    </a>
                </div>
            </div>
        </div>
        <div class="cards">
            <ion-slides scrollbar="false" pager="false" [options]="cards">
                <ion-slide *ngFor="let item of obsItems$ | async" id="{{ item.id }}" [routerLink]="['/places', item.$key]">
                    <div class="cpadre">
                        <div class="chead">
                            <div class="nomb">{{ item.nombre }}<span class="categoria">&nbsp;({{item.tipo}})</span></div>
                            <div class="iconTitle">
                                <ion-icon name="leaf-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="ccontent">
                            <img class="foto" [src]="item.imagenPrincipal" [alt]="item.nombre" />
                        </div>
                        <div class="cfooter">
                            <div class="distancia">{{item.distancia}}</div>
                            <div class="valoracion">
                                <ion-icon class="estrella" name="star"></ion-icon>
                                <ion-icon class="estrella" name="star"></ion-icon>
                                <ion-icon class="estrella" name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <!-- <ion-card>
                        <ion-card-header color="options">
                            <ion-card-title class="cardTitle">
                                <div class="nomb">{{ item.nombre }}<span class="categoria">&nbsp;({{item.tipo}})</span>
                                    <ion-icon class="iconTitle" name="leaf-outline"></ion-icon>
                                </div>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <img class="foto" [src]="item.imagenPrincipal" [alt]="item.nombre" />
                            <div>
                                <div class="distancia">
                                    <ion-label slot="start">{{item.distancia}}</ion-label>
                                </div>
                                <div class="valoracion">
                                    <ion-icon class="estrella" name="star"></ion-icon>
                                    <ion-icon class="estrella" name="star"></ion-icon>
                                    <ion-icon class="estrella" name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </div>
                        </ion-card-content>
                    </ion-card> -->
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>