<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-button slot="end" (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
          Cerrar Sesión
        </ion-button>
    </ion-toolbar>
</ion-header>
<!-- <div class="relleno" ></div> -->
<div class="slider contenedor">
    <ion-slides scrollbar="true" pager="true">
        <ion-slide class="slide-1">
            <a routerLink="/sj-events">
                <ion-img src="/assets/img/slider1.jpeg"></ion-img>
            </a>
        </ion-slide>
        <ion-slide class="slide-2">
            <ion-img src="/assets/img/slider2.png"></ion-img>
        </ion-slide>
        <ion-slide class="slide-3">
            <ion-img src="/assets/img/slider3.png"></ion-img>
        </ion-slide>
    </ion-slides>
    <div class="contenedor-iconos">
        <a routerLink="/circuits">
            <div class="icono">
              <ion-img src="/assets/icon/location.png"></ion-img>
            </div>
        </a>
        <a routerLink="/favorite">
            <div class="icono">
              <ion-img src="/assets/icon/favorito.png"></ion-img>
            </div>
        </a>
        <a routerLink="/information">
          <div class="icono">
            <ion-img src="/assets/icon/info.png"></ion-img>
          </div>
        </a>
        <a routerLink="/more-options">
          <div class="icono">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </div>
        </a>
    </div>
</div>
<ion-content scroll-y="true">
  <ion-grid>
    <ion-row >
      <ion-col>        
        <ion-virtual-scroll [items]="items" approxItemHeight="300px">
          <ion-card *virtualItem="let item" id="{{ item.id }}" [routerLink]="['/places', item.id]">
            <ion-card-header>
              
                  
                    <ion-label>{{ item.nombre }}</ion-label>
                    <ion-card-title class="titulo" >{{ item.name }}</ion-card-title>
                
                
            </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-img class="foto" [src]="item.url"  [alt]="item.nombre"></ion-img>
            </ion-item>
            <ion-item>
              <ion-label slot="start">100 metros</ion-label>
              <ion-icon class="estrella" name="star"></ion-icon>
              <ion-icon class="estrella" name="star"></ion-icon>
              <ion-icon class="estrella" name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </ion-item>             
          </ion-card-content>
          </ion-card>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>   
</ion-content>

