* {
    padding: 0;
    margin: 0;
}

.estrella {
    color: #ffb134;
}

.contenedor-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: auto;
    height: 100%;
}

ion-label {
    font-family: 'Barlow';
    font-size: 11pt;
}

.card-content-md {
    padding: 0px !important;
}

.cardTitle ion-inherit-color .md .hydrated {

    font-size: 150%;
}

.iconTitle {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5%;
    font-size: 110%;
    color: #fff;
}

.categoria {
    font-size: 60%;
    font-weight: 100;
    color: #000000;
    text-align: left;
}

.nomb {
    font-family: 'Barlow';
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    font-size: 110%;
    color: #fff;
    font-weight: bold;
}

.padre {
    height: 100%;
}

.slider {
    height: 45%;
    //border: 1px solid black;
}

.menu {
    margin: 3% 7% 3% 7%;
    height: 7%;
    //border: 1px solid black;
}


.icono {
    .iconMenu {
        ion-img {
            height: 100%;
        }
    }
}

.cards {
    height: 42%;
    //border: 1px solid black;
}

.distancia {
    float: left;
    margin-left: 3%;
    padding: 0;
}

.valoracion {
    float: right;
    margin-right: 3%;
    padding: 0;
}

.sliderPrimero,
.sliderHijo,
.imgSlider {
    height: 100%;
    width: 100%;
}

.cpadre {
    height: 100%;
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.12);
}

.chead {
    height: 17%;
    background-color: #10dda6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: row;
}

.ccontent {
    height: 77%;
}

.cfooter {
    height: 12%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: row;
}

.ccontent {
    .foto {
        width: 100%;
    }
}

.valoracion {
    margin-left: auto;
    font-size: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.distancia {
    font-size: 80%;
    margin-top: auto;
    margin-bottom: auto;
}