* {
    padding: 0;
    margin: 0;
}

// .cabezera {
//     background-color: #00dea5;
// }

.estrella {
    color: #ffb134;
}

// .icono {
//     border: 1px solid green;
// }

.contenedor-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: auto;
    //border: 2px solid red;
    height: 100%;
}

ion-card-header {
    padding: 4% !important;
    color: #ffffff;
}

ion-label {
    font-family: 'Barlow';
    font-size: 11pt;
}

.card-content-md {
    padding: 0px !important;
}

.cardTitle ion-inherit-color .md .hydrated {
    
    font-size: 150%;
}

.iconTitle {
    float: right;
}

.categoria {
    font-size: 60%;
    font-weight: 100;
    color: #000000;
    text-align: left;
}

.padre {
    height: 100%;
}

.slider {
    height: 45%;
    //border: 1px solid black;
}

.menu {
    margin: 1.5% 5% 1.5% 5%;
    height: 10%;
    //border: 1px solid black;
}

.icono {
    .iconMenu {
        ion-img {
            height: 100%;
        }
    }
}

.cards {
    height: 42%;
    //border: 1px solid black;
}

ion-card {
    height: 100%;
    margin: 0 8% 0 8%;
}

ion-card {
    img {
        height: 25vh !important;
        width: 100% !important;
        max-width: 100%;
        align-items: center;
    }
}

.distancia {
    float: left;
    margin-left: 3%;
    padding: 0;
}

.valoracion {
    float: right;
    margin-right: 3%;
    padding: 0;
}

.sliderPrimero, .sliderHijo, .imgSlider{
    height: 100%;
    width: 100%;
}