<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-list>
            <ion-item>
                <i slot="start" class="fas fa-sun" style="font-size: 150%"></i>
                <i style="margin-left: 10px; font-size: 130%" class="fas fa-moon"></i>
                <ion-toggle style="margin-left: 12px;" slot="start" [ngModel]="darkMode" (ionChange)="changeTheme()" mode="ios"></ion-toggle>
            </ion-item>
        </ion-list>
        <ion-button slot="end" (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
            <i style="font-size: 180%; color: var(--ion-color-dark)" class="fas fa-sign-out-alt"></i>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="padre">
        <div class="slider">
            <ion-slides class="sliderPrimero" scrollbar="false" pager="false" [options]="slideOpts">
                <ion-slide class="sliderHijo">
                    <a class="banner" href="https://api.whatsapp.com/send?phone=59899468473&text=Hola,%20quer%C3%ADa%20consultar%20sobre%20el%20servicio%20de%20alquiler%20de%20bicicletas.">
                        <ion-fab vertical="top" horizontal="start" slot="fixed">
                            <ion-fab-button color="whatsapp">
                                <ion-icon class="logoWhatsapp" name="logo-whatsapp"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <img class="imgSlider" src="/assets/img/whatsapp.jpeg" />
                    </a>
                </ion-slide>
                <ion-slide class="sliderHijo">
                    <a class="banner" href="https://casadominga.com.uy/">
                        <img class="imgSlider" src="/assets/img/casaDominga.jpeg" />
                    </a>
                </ion-slide>
                <ion-slide class="sliderHijo" [routerLink]="['/']">
                    <div class="banner">
                        <img class="imgSlider" src="/assets/img/alquiler.jpeg" />
                    </div>
                </ion-slide>
                <ion-slide class="sliderHijo" [routerLink]="['/']">
                    <div class="banner">
                        <img class="imgSlider" src="/assets/img/bicicletas.jpeg" />
                    </div>
                </ion-slide>
                <ion-slide class="sliderHijo" [routerLink]="['/']">
                    <div class="banner">
                        <img class="imgSlider" src="/assets/img/tour.jpeg" />
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="menu">
            <div class="contenedor-iconos">
                <div class="icono">
                    <a class="iconMenu" routerLink="/circuits">
                        <ion-img src="/assets/icon/location.png"></ion-img>
                    </a>
                </div>
                <div class="icono">
                    <a class="iconMenu" routerLink="/favorite">
                        <ion-img src="/assets/icon/favorito.png"></ion-img>
                    </a>
                </div>
                <div class="icono">
                    <a class="iconMenu" routerLink="/information">
                        <ion-img src="/assets/icon/info.png"></ion-img>
                    </a>
                </div>
                <div class="icono">
                    <a class="iconMenu" routerLink="/more-options">
                        <ion-img src="/assets/icon/masOpciones.png"></ion-img>
                    </a>
                </div>
            </div>
        </div>
        <div class="cards">
            <ion-slides scrollbar="false" pager="false" [options]="cards">
                <ion-slide *ngFor="let item of obsItems$ | async" id="{{ item.id }}" [routerLink]="['/places', item.$key]">
                    <div class="cpadre">
                        <div class="chead_Rural" *ngIf="item.tipo == 'Rural'">
                            <div class="nomb">{{ item.nombre }}<span class="categoria">&nbsp;({{item.tipo}})</span></div>
                            <div class="iconTitle">
                                <i class="fas fa-tractor"></i>
                            </div>
                           
                        </div>
                        <div class="chead_Urbano" *ngIf="item.tipo == 'Urbano'">
                            <div class="nomb">{{ item.nombre }}<span class="categoria">&nbsp;({{item.tipo}})</span></div>
                            <div class="iconTitle">
                                <i class="fas fa-city"></i>
                            </div>
                        </div>
                        <div class="ccontent">
                            <img class="foto" [src]="item.imagenHome" [alt]="item.nombre" />
                        </div>
                        <div class="cfooter">
                            <div class="distancia">{{item.distancia | formatDistancia }}</div>
                            <div class="valoracion">
                                <ion-icon class="estrella" name="star"></ion-icon>
                                <ion-icon class="estrella" name="star"></ion-icon>
                                <ion-icon class="estrella" name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>