* {
    padding: 0;
    margin: 0;
}

.cabezera {
    background-color: #00dea5;
}

.estrella {
    color: #ffb134;
}

.icono {
    width: 65%;
}

.iconMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: 2% 4% 3% 4%;
}

.imgSlider {
    width: 100%;
    height: 100%;
}

ion-card-header {
    padding: 4% !important;
    color: #ffffff;
}

ion-label {
    font-family: 'Barlow';
    font-size: 11pt;
}

.card-content-md {
    padding: 0px !important;
}

.cardTitle ion-inherit-color .md .hydrated {
    font-weight: 500;
}

.iconTitle {
    float: right;
}

.categoria {
    font-size: 60%;
    font-weight: 100;
    color: #000000;
    text-align: left;
}

.padre {
    height: 100%;
}

.slider {
    height: 45%;
}

.menu {
    height: 10%;
}

.cards {
    height: 40%;
}

ion-card {
    height: 100%;
    margin: 0 8% 0 8%;
}

ion-card {
    img {
        height: 25vh !important;
        width: 100% !important;
        max-width: 100%;
        align-items: center;
    }
}

.distancia {
    float: left;
    margin-left: 3%;
    padding: 0;
}

.valoracion {
    float: right;
    margin-right: 3%;
    padding: 0;
}

