<ion-header>
    <ion-toolbar color="party">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/more-options" color="back"></ion-back-button>
        </ion-buttons>
        <ion-img slot="start" src="/assets/icon/party.png"></ion-img>
        <ion-title>Casas de Fiesta</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar cancelButtonText="Custom Cancel" placeholder="" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of eat | filtroDondeComer:textoBuscar" class="item">
            <div class="padre">
                <div class="imagen">
                    <ion-avatar item-start>
                        <ion-img [src]="item.imagen" class="img-elem"></ion-img>
                    </ion-avatar>
                </div>
                <div class="info">
                    <ion-label>
                        <h2 *ngIf="item.nombre.length < 25">{{ item.nombre }}</h2>
                        <h2 class="tamaño_25" *ngIf="item.nombre.length >= 25">{{ item.nombre }}</h2>
                        <div class="infoAbajo">
                            <h3 class="tamaño_30" *ngIf="item.direccion.length >= 30">{{ item.direccion }}</h3>
                            <h3 *ngIf="item.direccion.length < 30">{{ item.direccion }}</h3>
                            <p><span>Tel: </span>{{ item.telefono }}</p>
                        </div>
                    </ion-label>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>