* {
    margin: 0;
    padding: 0;
}

ion-title {
    margin-left: 3%;
}

.diva {
    width: 100%;
    height: 30%;
}

.divb {
    width: 100%;
    height: 15%;
    margin-top: 0.5%;
}

.divc {
    width: 100%;
    height: 9%;
    overflow: auto;
    background-color: #F0F0F0;
}

.divd {
    width: 100%;
    height: 22%;
}

.dive {
    width: 100%;
    height: 5%;
    padding-top: 1%;
}

.divf{
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
}


.imgPrincipal {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

// .imgGaleria{
// 	width: 100%;
// 	height: 100%;
// }

.padre {
    width: 100%;
    height: 100%;
    padding: 3% 3% 0 3%;
}

.slidePadre{
    height: 100%;
    width: 100%;
}

@supports(object-fit: cover){
    .imagenMini .imgGaleria{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.slideHijo
 {
    height: 100%;
    width: 100%;
}

.imagenMini{
	height: 100%;
    width: 100%;
}

.text{
	font-size: 12px;
	margin: 1% 4% 4% 4%;
}

#mapa-box{
	height: 100%;
	width: 100%;
}

.distancia{
	width: 50%;
	float: left;
}

.estrellas{
	float: right;
	width: 50%;
	text-align: right;
}

.iconos{
    display: flex;
    flex-direction: row;
    margin: 1% 4% 0 4%;
}

.sugerencia{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.sug{
    border-radius: 8px;
}

.interes{
    margin: 0 0 2% 0;
    font-weight: 400;
    color: #00dea5;
}

.infoSug{
    margin: 0 0 0 5%;
}

.iconEstilos{
    margin: 2% 2% 0 2%;
}

.iconAuto{
    margin: 2% 2% 0 0;
}

.sugNombre{
    font-weight: bold;
    color: #B6B6B6;
}

.sugDireccion{
    font-weight: 600;
    color: #000000;
    font-size: 80%;
}

.sugTelefono{
    font-weight: 600;
    color: #000000;
    font-size: 80%;
    display: flex;
    flex-direction: row;
}

.numTelefono{
    font-weight: 100;
}
// .estrellas{
// 	text-align: right;
// }

// ion-slides{
// 	margin-top: 2px;
// }

// .verMas{
// 	text-decoration: underline;
// }

// .text{
// 	margin: 4%;
// }