<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="back" text=""></ion-back-button>
        </ion-buttons>
        <ion-title id="nombre">{{nombre}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button *ngIf="fav?.length == 0" (click)=agregarFavorito()>
                <ion-icon name="heart"></ion-icon>
            </ion-button>
            <ion-button (click)=deleteFav()>
                <ion-icon *ngIf="fav?.length != 0" name="heart-dislike-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="key">{{ key }}</div>
    <div class="padre">
        <div class="diva">
            <img class="imgPrincipal" id="foto" src="{{ imagenPrincipal }}" />
        </div>
        <div class="divb">
            <ion-slides class="slidePadre" pager="true" [options]="slideOpts">
                <ion-slide class="slideHijo" *ngFor="let img of imagenes">
                    <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" alt="{{ img.nombre }}" src="{{ img.url }}" /></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="divc">
            <div class="iconos">
                <div class="iconAuto" *ngIf="auto == 1">
                    <ion-icon name="car-outline"></ion-icon>
                </div>
                <div class="iconEstilos" *ngIf="bicicleta == 1">
                    <ion-icon name="bicycle-outline"></ion-icon>
                </div>
                <div class="iconEstilos" *ngIf="caminar == 1">
                    <ion-icon name="walk-outline"></ion-icon>
                </div>
            </div>
            <p class="text">{{descripcion}}<a class="verMas" [routerLink]="['/descripcion', key]">Ver más</a></p>
        </div>
        <div class="divd">
            <div id="mapaBox"></div>
        </div>
        <div class="dive">
            <div class="distancia">100 mts</div>
            <div class="estrellas">
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </div>
        <h5 class="interes">Te puede interesar</h5>
        <div class="divf">
            <div class="sugerencia" [routerLink]="['/home']">
                <img class="sug" src="https://firebasestorage.googleapis.com/v0/b/appdominga.appspot.com/o/lugares%2Ffincapiedra-01.jpg?alt=media&token=7cbc502b-13fc-4b19-b1b5-6bf30aea69c3" alt="" width="40%" height="60%">
                <div class="infoSug">
                    <div class="sugNombre">Nombre</div>
                    <div class="sugDireccion">Direccion</div>
                    <div class="sugTelefono">
                        <div>Tel: &nbsp;</div>
                        <div class="numTelefono">43423658</div>
                    </div>
                </div>
            </div>
            <div class="sugerencia" [routerLink]="['/home']">
                <img class="sug" src="https://firebasestorage.googleapis.com/v0/b/appdominga.appspot.com/o/lugares%2Ffincapiedra-01.jpg?alt=media&token=7cbc502b-13fc-4b19-b1b5-6bf30aea69c3 " alt="" width="40%" height="60%">
                <div class="infoSug">
                    <div class="sugNombre">Nombre</div>
                    <div class="sugDireccion">Direccion</div>
                    <div class="sugTelefono">
                        <div>Tel:&nbsp;</div>
                        <div class="numTelefono">43423658</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>