* {
    margin: 0;
    padding: 0;
    //overflow-y: hidden;
}

ion-title {
    margin-left: 3%;
}

.diva {
    width: 100%;
    height: 30%;
}

.divb {
    width: 100%;
    height: 11%;
    margin-top: 0.5%;
}

.divc {
    width: 100%;
    background-color: #F0F0F0;
}

.divd {
    width: 100%;
    height: 20%;
    margin-top: 1.5%;
}

.divf {
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
}


.imgPrincipal {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.padre {
    width: 100%;
    height: 100%;
    padding: 3% 3% 0 3%;
}

.slideHijo,
.imagenMini,
.slidePadre {
    height: 100%;
    width: 100%;
}

.text {
    font-size: 12px;
    margin: 0 4% 0 4%;
    font-family: Barlow;
    padding-bottom: 2%;
}

#mapaBox {
    height: 100%;
    width: 100%;
}

.distancia {
    width: 50%;
    float: left;
}

.iconos {
    display: flex;
    flex-direction: row;
    margin: 1% 4% 2% 4%;
    justify-content: center;
    align-items: center;
}

.sugerencia {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.sug {
    border-radius: 8px;
    width: 45%;
    height: 75%;
}

.interes {
    margin: 2% 0 2% 0;
    font-weight: 400;
    color: #00dea5;
}

.infoSug {
    margin: 0 0 0 5%;
}

.iconEstilos {
    margin: 3% 1.5% 0 1.5%;
}

.iconAuto {
    margin: 3% 1.5% 0 0;
}

.sugNombre {
    font-weight: bold;
    color: #B6B6B6;
    font-size: 13px;
}

.sugDistancia {
    font-weight: 600;
    color: #000000;
    font-size: 10px;
}

#key {
    display: none;
}

.estrellas {
    margin-left: auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fav {
    font-size: 150%;
}

#dist {
    margin: 3% 2% 0 2%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valoracion {
    font-size: 11px;
}

@media only screen and (min-width: 768px) {
    .interes {
        margin: 2% 0 2% 0;
        font-weight: 400;
        color: #00dea5;
        font-size: 32px;
    }

    .sugNombre {
        font-weight: bold;
        color: #B6B6B6;
        font-size: 25px;
    }

    .sugDistancia {
        font-weight: 600;
        color: #000000;
        font-size: 18px;
    }

    .estrellas {
        margin-left: auto;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dist {
        margin: 3% 2% 0 2%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .valoracion {
        font-size: 20px;
    }

    .iconEstilos {
        margin: 3% 2% 0 2%;
        font-size: 20px;
    }

    .iconAuto {
        margin: 3% 2% 0 0;
        font-size: 20px;
    }
}

@media only screen and (min-height: 1024px) {
    .interes {
        margin: 6% 0 6% 0;
        font-weight: 400;
        color: #00dea5;
        font-size: 32px;
    }

    .sugNombre {
        font-weight: bold;
        color: #B6B6B6;
        font-size: 25px;
    }

    .sugDistancia {
        font-weight: 600;
        color: #000000;
        font-size: 18px;
    }

    .iconEstilos {
        margin: 3% 2% 0 2%;
    }

    .iconAuto {
        margin: 3% 2% 0 0;
    }

    .estrellas {
        margin-left: auto;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dist {
        margin: 3% 2% 0 2%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .valoracion {
        font-size: 20px;
    }

    .iconEstilos {
        margin: 3% 2% 0 2%;
        font-size: 25px;
    }

    .iconAuto {
        margin: 3% 2% 0 0;
        font-size: 25px;
    }
}

@media only screen and (min-height: 1366px) {
    .iconEstilos {
        margin: 2% 2% 0 2%;
    }

    .iconAuto {
        margin: 2% 2% 0 0;
    }
}