<ion-content>
  <div class="container">
    <div class="slider_filter">
      <div class="slider_filter-title">
        <h1>Hola, soy domin<span>go!</span></h1>
        <p>
          y a partir de ahora seré tu guía. <br />
          ¿Descubrimos juntos un nuevo sitio?
        </p>
      </div>
      <div class="filter_button">
        <ion-label (click)="seeDepto()" *ngIf="depto" class="depto_selected">departamento</ion-label>
        <ion-label (click)="seeDepto()" *ngIf="!depto">departamento</ion-label>
        <i class="fas fa-exchange-alt"></i>
        <ion-label>distancia</ion-label>
      </div>
      <ion-list *ngIf="depto" class="depto_list">
        <ion-radio-group value="">
          <ion-item (click)="select('San José', null)">
            <ion-label>San José</ion-label>
            <ion-radio slot="start" value="San José"></ion-radio>
          </ion-item>
          <ion-item (click)="select('Colonia', null)">
            <ion-label>Colonia</ion-label>
            <ion-radio slot="start" value="Colonia"></ion-radio>
          </ion-item>
          <ion-item (click)="select('Canelones', null)">
            <ion-label>Canelones</ion-label>
            <ion-radio slot="start" value="Canelones"></ion-radio>
          </ion-item>
          <ion-item (click)="select('Florida', null)">
            <ion-label>Florida</ion-label>
            <ion-radio slot="start" value="Florida"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <div class="menu">
      <div class="div__menu">
        <div class="div__menu-izq" routerLink="/tabs/places">¿dónde ir?</div>
        <div class="div__menu-izq" routerLink="/tabs/eat">¿dónde<br> comer?</div>
        <div class="div__menu-izq" routerLink="/tabs/sleep">¿dónde<br> dormir?</div>
      </div>
      <div class="div__menu">
        <div class="div__menu-der" routerLink="/tabs/events">¿qué hacer?</div>
        <div class="div__menu-der" routerLink="/places/9">Casa<br> Dominga</div>
      </div>
    </div>
  </div>
</ion-content>
