<ion-content>
  <div class="container">
    <div class="slider_filter">
      <!-- <div class="slider_filter-title">
        <h1>Hola, soy domin<span>go!</span></h1>
        <p>
          y a partir de ahora seré tu guía. <br />
          ¿Descubrimos juntos un nuevo sitio?
        </p>
      </div> -->
      <ion-label (click)="seeDepto()">Departamento</ion-label>
      <ion-label>Distancia</ion-label>
      <ion-list *ngIf="depto">
        <ion-radio-group value="">
          <ion-item (click)="select('San José', null)">
            <ion-label>San José</ion-label>
            <ion-radio slot="start" value="San José"></ion-radio>
          </ion-item>
      
          <ion-item (click)="select('Colonia', null)">
            <ion-label>Colonia</ion-label>
            <ion-radio slot="start" value="Colonia"></ion-radio>
          </ion-item>
          <ion-item (click)="select('Canelones', null)">
            <ion-label>Canelones</ion-label>
            <ion-radio slot="start" value="Canelones"></ion-radio>
          </ion-item>
          <ion-item (click)="select('Florida', null)">
            <ion-label>Florida</ion-label>
            <ion-radio slot="start" value="Florida"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-button (click)="close()">Cancelar</ion-button>
      </ion-list>
    </div>

    <div class="menu">
      <div class="div__menu">
        <div class="div__menu-izq" routerLink="/tabs/places">¿dónde ir?</div>
        <div class="div__menu-izq" routerLink="/tabs/eat">¿dónde comer?</div>
        <div class="div__menu-izq" routerLink="/tabs/sleep">¿dónde dormir?</div>
      </div>
      <div class="div__menu">
        <div class="div__menu-der" routerLink="/tabs/events">¿qué hacer?</div>
        <div class="div__menu-der" routerLink="/places/9">Casa Dominga</div>
      </div>
    </div>
  </div>
</ion-content>
