@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.container {
  height: 100vh;
  margin-top: 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 20px 3% 0 3%;
  height: 65%;
}

.div__menu {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-weight: bold;
}

.div__menu > .div__menu-izq {
  height: 33%;
}

.div__menu > .div__menu-der {
  height: 50%;
}

.div__menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 5px;
}

.div__menu-izq:nth-child(1) {
  background-color: #febf4e;
}

.div__menu-izq:nth-child(2) {
  background-color: #68ebff;
}

.div__menu-izq:nth-child(3) {
  background-color: #fc67ff;
}

.div__menu-der:nth-child(1) {
  background-color: #cca5fe;
}

.div__menu-der:nth-child(2) {
  background-color: #01dfb8;
  text-align: center;
}

#filter_null {
  background-color: #888 !important;
}

.slider_filter {
  height: 25%;
}

.slider_filter-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #666666;
}

.option {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option__div {
  width: 20%;
  height: auto;
  margin: 0 10px;
}

img {
  padding: 15px;
}

.slider_filter-title {
  padding: 20px 0 0 20px;
}

span {
  color: #fc67ff;
}

h1,
span {
  font-family: 'Poppins', sans-serif;
}

p {
  margin-top: 0 !important;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-bottom: 12px !important;
}

h1,
p {
  margin: 0 3%;
}

.btn {
  width: 100%;
}

ion-button {
  margin: auto;
}

.filter_button > ion-label {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #666;

}

.filter_button {
  display: flex;
  flex-direction: row;
  border: 2px solid #888;
  margin: auto;
  width: 85%;
  border-radius: 10px;
  padding: 5px 2.5px 2.5px 2.5px;
}

.filter_button > i {
  color: #888;
}

.depto_selected, .distance_selected {
  color: #01dfb8 !important;
}

.depto_list {
  margin: 10px auto;
  width: 70%;
  border-radius: 10px !important;
}

.endline {
  font-weight: bold;
  text-align: center;
  color: #999;
  font-size: 18px;
}

ion-item {
  height: 40px !important;
}

.depto_bold {
  font-weight: bold;
}

@media (min-width: 320px) {
  .filter_button {
    display: flex;
    flex-direction: row;
    border: 2px solid #888;
    margin: auto;
    width: 85%;
    border-radius: 10px;
    margin-top: 6%;
  }
}

@media (min-width: 375px) {
  .filter_button {
    display: flex;
    flex-direction: row;
    border: 2px solid #888;
    margin: auto;
    width: 85%;
    border-radius: 10px;
    margin-top: 9%;
  }
}

@media (max-width: 280px) {
  .slider_filter-title {
    padding: 10px 0 0 15px;
  }
}

