
 <ion-header>
             <ion-toolbar color="primary">
             	<ion-title>{{ infoLugar.nombre }}</ion-title>
        <ion-buttons slot="primary">
          <ion-button>
           <ion-icon name="business"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      </ion-header>

<ion-content>
	 <!-- 2.5% margin top -->
	<ion-grid class="infoLugar">
		 <!-- 30% -->
        <ion-row class="imagenPrincipal"> 
          <ion-col>
            <div class="imagenPrincipal"><img class="imgGrande" id="foto"></div>
          </ion-col>      
        </ion-row>
         <!-- 15% -->
         <ion-row class="galeria">
         <ion-col>
         <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" src="../../../assets/icon/catedral.jpg"></div>
      </ion-slide>
      <ion-slide>
        <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" src="../../../assets/icon/catedral2.jpeg"></div>
      </ion-slide>
      <ion-slide>
        <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" src="../../../assets/icon/catedral.jpg"></div>
      </ion-slide>
       <ion-slide>
        <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" src="../../../assets/icon/catedral3.jpg"></div>
      </ion-slide>
      <ion-slide>
        <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" src="../../../assets/icon/catedral.jpg"></div>
      </ion-slide>
      <ion-slide>
        <div id="imagenMini"><img (click)=cambiarImagen() class="imgGaleria" src="../../../assets/icon/catedral4.JPG"></div>
      </ion-slide>
    </ion-slides>
    </ion-col>
    </ion-row>
         <!-- 25% -->
        <ion-row class="descripcion">
          <ion-col class="texto" id="desc">
            <p class="text">{{ infoLugar.descripcion }}<!-- <a class="verMas" (click)=openModal()>Ver más</a> --></p>
          </ion-col>      
        </ion-row>
         <!-- 20% -->
        <ion-row class="mapa">
          <ion-col>
            <div id="mapa-box"></div>
          </ion-col>      
        </ion-row>
         <!-- 5% -->
        <ion-row class="calificacion">
          <ion-col>
            <div>100 mts</div>
          </ion-col> 
          <ion-col class="estrellas">
          	<ion-icon name="star-outline"></ion-icon>
          	<ion-icon name="star-outline"></ion-icon>
          	<ion-icon name="star-outline"></ion-icon>
          	<ion-icon name="star-outline"></ion-icon>
          	<ion-icon name="star-outline"></ion-icon>
          </ion-col>     
        </ion-row>
    </ion-grid>
     <!-- 2.5% margin bottom -->

<!-- <ion-slides pager="true" [options]="slideOpts">
   <ion-grid>
        <ion-row class="ion-text-center">
        	<ion-slide>
          <ion-col>
            hola
          </ion-col>
          </ion-slide>
          <ion-slide>
          <ion-col>
            hola
          </ion-col>
          </ion-slide>
        </ion-row>
    </ion-grid>
      </ion-slides>
</ion-content> -->
