*{
	margin: 0;
	padding: 0;
}

ion-title{
	margin-left: 3%;
}

.infoLugar{
	margin: 2.5% 4% 2.5% 4%;
	padding: 0;
}

.imagenPrincipal{
	height: 170px;
}

.galeria{
	height: 90px;
}

.descripcion{
	height: 150px;
	overflow: auto;
}

.mapa{
	height: 120px;
}

.calificacion{
	height: 30px;
	margin-top: 2%;
}

.imgGrande{
	height: 170px;
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.imgGaleria{
	height: 90px;
	width: 100%;
}

.texto{
	background-color: #F0F0F0;
	font-size: 12px;
}

#mapa-box{
	height: 120px;
	width: 100%;
}

.estrellas{
	text-align: right;
}

ion-slides{
	margin-top: 2px;
}

.verMas{
	text-decoration: underline;
}

.text{
	margin: 4%;
}