
 <ion-header collapse="condense">
             <ion-toolbar color="primary">
             	<ion-title>Basílica Catedral</ion-title>
        <ion-buttons slot="primary">
          <ion-button>
           <ion-icon name="business"></ion-icon>
          </ion-button>
        </ion-buttons>

        
      </ion-toolbar>
       
      </ion-header>

<ion-content>
	<ion-grid>
        <ion-row>
          <ion-col>
            <div>1 of 1</div>
          </ion-col>      
        </ion-row>
    </ion-grid>

<ion-slides pager="true" [options]="slideOpts">
   <ion-grid>
        <ion-row class="ion-text-center">
        	<ion-slide>
          <ion-col>
            hola
          </ion-col>
          </ion-slide>
          <ion-slide>
          <ion-col>
            hola
          </ion-col>
          </ion-slide>
        </ion-row>
    </ion-grid>
      </ion-slides>
</ion-content>
