
<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-img src="/assets/selling-point/ticket-color.png"></ion-img>
      <ion-text>
        <p>Ticket Antel</p>
      </ion-text>
    </ion-col>
    <ion-col size="4">
      <ion-img src="/assets/selling-point/wpp-color.png"></ion-img>
      <ion-text>
        <p>Whatsapp</p>
      </ion-text>
    </ion-col>
    <ion-col size="4">
      <ion-img src="/assets/selling-point/ticket-color.png"></ion-img>
      <ion-text>
        <p>Instagram</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-img src="/assets/selling-point/wpp-byn.png"></ion-img>
      <ion-text>
        <p>Facebook</p>
      </ion-text>
    </ion-col>
    <ion-col size="4">
      <ion-img src="/assets/selling-point/ticket-byn.png"></ion-img>
      <ion-text>
        <p>Abitab</p>
      </ion-text>
    </ion-col>
    <ion-col size="4">
      <ion-img src="/assets/selling-point/ticket-color.png"></ion-img>
      <ion-text>
        <p>Redpagos</p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-button (click)="cancelar()">Cancelar</ion-button>
</ion-content>
