<ion-content>
  <h3>Filtrar Eventos</h3>
  <form [formGroup]="filterForm" (ngSubmit)="salir()">
    <div>
      <ion-select
        placeholder="Departamento"
        [interfaceOptions]="selectCustom"
        okText="Seleccionar"
        cancelText="Cancelar"
        formControlName="departamento"
      >
        <ion-select-option
          *ngFor="let item of departamentosActivos"
          value="{{item.nombre}}"
        >
          {{item.nombre}}
        </ion-select-option>
      </ion-select>
      <ion-select
        *ngIf="filterForm.value.departamento != undefined && filterForm.value.departamento != ''"
        placeholder="Localidad"
        [interfaceOptions]="selectCustomLocation"
        okText="Seleccionar"
        cancelText="Cancelar"
        formControlName="localidad"
        (click)="getLocalidadesActivas(filterForm.value.departamento)"
      >
        <ion-select-option
          *ngFor="let item of localidadesUnicas"
          value="{{item}}"
        >
          {{ item }}
        </ion-select-option>
      </ion-select>
      <ion-searchbar
        placeholder="Buscar..."
        formControlName="general"
      ></ion-searchbar>
    </div>
    <ion-button type="submit">Filtrar</ion-button>
  </form>

  <!-- <h3>Formulario</h3>
  <pre>Valid: {{ filterForm.valid }}</pre>
  <pre>Valid: {{ filterForm.value | json }}</pre> -->
</ion-content>
