<ion-content>
  <h3>Filtrar Eventos</h3>
  <form [formGroup]="filterForm" (ngSubmit)="salir()">
    <div>
      <ion-select
        placeholder="Departamento"
        [interfaceOptions]="selectCustom"
        okText="Seleccionar"
        cancelText="Cancelar"
        formControlName="departamento"
        class="departamento"
      >
        <ion-select-option
          *ngFor="let item of departamentosActivos"
          value="{{item.nombre}}"
        >
          {{item.nombre}}
        </ion-select-option>
      </ion-select>
      <ion-select
        *ngIf="filterForm.value.departamento != undefined && filterForm.value.departamento != ''"
        placeholder="Localidad"
        [interfaceOptions]="selectCustomLocation"
        okText="Seleccionar"
        cancelText="Cancelar"
        formControlName="localidad"
        (click)="getLocalidadesActivas(filterForm.value.departamento)"
      >
        <ion-select-option
          *ngFor="let item of localidadesUnicas"
          value="{{item}}"
        >
          {{ item }}
        </ion-select-option>
      </ion-select>
      <ion-searchbar
        placeholder="Palabras claves..."
        formControlName="general"
      ></ion-searchbar>
      <div class="filter-date">
        <ion-item>
          <ion-datetime
            formControlName="fecha_desde"
            [yearValues]="customYearValues"
            monthShortNames="{{monthShortNames}}"
            min="{{fullDay}}"
            displayFormat="DD MMM YYYY"
            placeholder="Fecha inicial"
            cancelText="Cancelar"
            doneText="Seleccionar"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-datetime
            formControlName="fecha_hasta"
            [yearValues]="customYearValues"
            monthShortNames="{{monthShortNames}}"
            min="{{fullDay}}"
            displayFormat="DD MMM YYYY"
            placeholder="Fecha final"
            cancelText="Cancelar"
            doneText="Seleccionar"
          ></ion-datetime>
        </ion-item>
      </div>
    </div>
    <div class="form-button">
      <ion-button class="btn-cancel" (click)="cancel()"><i class="fas fa-times"></i> Cancelar</ion-button>
      <ion-button class="btn-ok" type="submit">Filtrar <i class="fas fa-check"></i></ion-button>
    </div>
  </form>
</ion-content>
