<ion-content>
  <h3>Filtrar Eventos</h3>
  <form [formGroup]="filterForm" (ngSubmit)="salir()">
    <div>
      <ion-select
        placeholder="Departamento"
        [interfaceOptions]="selectCustom"
        okText="Seleccionar"
        cancelText="Cancelar"
        formControlName="departamento"
        class="departamento"
      >
        <ion-select-option
          *ngFor="let item of departamentosActivos"
          value="{{item.nombre}}"
        >
          {{item.nombre}}
        </ion-select-option>
      </ion-select>
      <ion-select
        *ngIf="filterForm.value.departamento != undefined && filterForm.value.departamento != ''"
        placeholder="Localidad"
        [interfaceOptions]="selectCustomLocation"
        okText="Seleccionar"
        cancelText="Cancelar"
        formControlName="localidad"
        (click)="getLocalidadesActivas(filterForm.value.departamento)"
      >
        <ion-select-option
          *ngFor="let item of localidadesUnicas"
          value="{{item}}"
        >
          {{ item }}
        </ion-select-option>
      </ion-select>
      <ion-searchbar
        placeholder="Palabras claves..."
        formControlName="general"
      ></ion-searchbar>
      <ion-item>
        <ion-datetime
        formControlName="fecha_desde"
        yearValues="{{customYearValues}}"
        [dayShortNames]="customDayShortNames"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        min="{{fullDay}}"
        displayFormat="DD.MM.YYYY"
        placeholder="dd/mm/aaaa"
        cancelText="Cancelar"
        doneText="Seleccionar"
      ></ion-datetime>
      <ion-datetime
        formControlName="fecha_hasta"
        yearValues="{{customYearValues}}"
        [dayShortNames]="customDayShortNames"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        min="{{fullDay}}"
        displayFormat="DD.MM.YYYY"
        placeholder="dd/mm/aaaa"
        cancelText="Cancelar"
        doneText="Seleccionar"
      ></ion-datetime>
      </ion-item>
    </div>
    <div class="form-button">
      <ion-button color="success" type="submit">Filtrar</ion-button>
      <ion-button color="danger" (click)="cancel()">Cancelar</ion-button>
    </div>
  </form>
</ion-content>
