* {
  padding: 0;
  margin: 0;
  z-index: 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  height: 35vh;
  width: auto;
}

.text_empty {
  color: #d6d2d1;
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.icon_empty {
  font-size: 5em;
  color: #d6d2d1;
}

ion-label {
  font-family: "Barlow";
  font-size: 11pt;
}

.card-content-md {
  padding: 0px !important;
}

.cardTitle ion-inherit-color .md .hydrated {
  font-size: 150%;
}

.iconTitle {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5%;
  font-size: 110%;
  color: #fff;
}

.categoria {
  font-size: 60%;
  font-weight: 100;
  color: #000000;
  text-align: left;
}

.slider {
  width: 100%;
  position: -webkit-sticky;  // required for Safari
  position: sticky;   
  top: 0; // required as well.
  z-index: 50;
}

.distancia {
  float: left;
  margin-left: 3%;
  padding: 0;
}

.sliderPrimero,
.sliderHijo,
.banner,
.imgSlider {
  width: 100%;
}

.logoWhatsapp {
  color: #fff;
}

ion-card {
  margin: 0 5% 5% 5%;
  border: none !important;
  border-radius: 15px !important;
  -webkit-box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.12) !important;
}

ion-card-header {
  padding: 4% !important;
  font-family: Barlow;
  font-weight: 600;
  font-size: 120%;
  color: #ffffff;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.imgCard {
  height: auto;
  width: 100%;
  min-height: 11.875em;
}

.filter_place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: -30px auto 10px auto;
  position: relative;
  z-index: 100;
  width: 92%;
  background-color: rgb(240, 240, 240);
  padding: 7px;
  border-radius: 60px;
}

.btn-filter {
  border-radius: 60px;
  background-color: #fc67ff;
  padding: 10px;
  width: 35%;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins';
  color: #fff;
  font-size: .8em;
}

ion-label {
  font-weight: bold;
  font-family: 'Poppins';
  color: rgb(161, 161, 161);
  font-size: .8em;
}

.form_filter {
  width: 85%;
  margin: 0 auto 5px auto;
  border: 1px solid #3880ff;
  z-index: 100;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

form > ion-select {
  width: 40%;
}