<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>
<ion-content>
  <div id="alto" class="slider">
    <ion-slides
      class="sliderPrimero"
      scrollbar="false"
      pager="false"
      [options]="slideOpts"
    >
      <ion-slide class="sliderHijo">
        <a
          class="banner"
          href="https://api.whatsapp.com/send?phone=59899468473&text=Hola,%20quer%C3%ADa%20consultar%20sobre%20el%20servicio%20de%20alquiler%20de%20bicicletas."
        >
          <ion-fab vertical="top" horizontal="start" slot="fixed">
            <ion-fab-button color="whatsapp">
              <ion-icon class="logoWhatsapp" name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <img class="imgSlider" src="/assets/img/whatsapp.jpeg" />
        </a>
      </ion-slide>
      <ion-slide class="sliderHijo">
        <a class="banner" (click)="pageDominga()">
          <img class="imgSlider" src="/assets/img/casaDominga.jpeg" />
        </a>
      </ion-slide>
      <ion-slide class="sliderHijo" [routerLink]="['/places/9']">
        <div class="banner">
          <img class="imgSlider" src="/assets/img/alquiler.jpeg" />
        </div>
      </ion-slide>
      <ion-slide class="sliderHijo" [routerLink]="['/']">
        <div class="banner">
          <img class="imgSlider" src="/assets/img/bicicletas.jpeg" />
        </div>
      </ion-slide>
      <ion-slide class="sliderHijo" [routerLink]="['/']">
        <div class="banner">
          <img class="imgSlider" src="/assets/img/tour.jpeg" />
        </div>
      </ion-slide>
    </ion-slides>
<!-- =========>=>=>=> Filtro =========>=>=>=> -->
    <div class="filter_place">
      <ion-label *ngIf="isOpenLocation === false " (click)="changeFilterLocation()">localidad</ion-label>
      <ion-label *ngIf="isOpenLocation" class="open_acordeon" (click)="changeFilterLocation()">localidad</ion-label>
      <img src="/assets/icon/exchange.png" alt="" />
      <ion-label *ngIf="isOpenType === false" (click)="changeFilterType()">tipo</ion-label>
      <ion-label *ngIf="isOpenType" class="open_acordeon" (click)="changeFilterType()">tipo</ion-label>
    </div>

    <div *ngIf="isFilterLocation || isFilterType">
      <form [formGroup]="filterForm" class="form_filter">
  <!-- Filtro por Localidad  -->
        <div>
          <div (click)="changeLocation()" class="filter_name">
            <span *ngIf="isOpenLocation === false">Localidad</span>
            <span class="open_acordeon" *ngIf="isOpenLocation">Localidad</span>
            <i
              *ngIf="isOpenLocation === false"
              class="fi fi-rr-angle-down icon_arrow"
            ></i>
            <i *ngIf="isOpenLocation" class="fi fi-rr-angle-up icon_arrow open_acordeon"></i>
          </div>
          <div *ngIf="isOpenLocation">
            <ion-list>
              <ion-radio-group
                (ionChange)="filterPlace()"
                formControlName="localidad"
              >
                <ion-item class="filter_list" lines="none">
                  <ion-text>Todo</ion-text>
                  <ion-radio slot="end" value=""></ion-radio>
                </ion-item>
                <ion-item
                  class="filter_list"
                  lines="none"
                  *ngFor="let loc of location"
                >
                  <ion-text>{{ loc.localidad }}</ion-text>
                  <ion-radio
                    slot="end"
                    value="{{ loc.localidad }}"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
  <!-- filtro por Localidad -->

  <!-- filtro por Tipo -->
        <div>
          <div (click)="changeType()" class="filter_name filter_type">
            <span *ngIf="isOpenType === false">Tipo</span>
            <span class="open_acordeon" *ngIf="isOpenType">Tipo</span>
            <i
              *ngIf="isOpenType === false"
              class="fi fi-rr-angle-down icon_arrow"
            ></i>
            <i *ngIf="isOpenType" class="fi fi-rr-angle-up icon_arrow open_acordeon"></i>
          </div>
          <div *ngIf="isOpenType">
            <ion-list class="list_type">
              <ion-radio-group
                (ionChange)="filterPlace()"
                formControlName="tipo"
                class="type_border"
              >
                <ion-item class="filter_list" lines="none">
                  <ion-text>Todo</ion-text>
                  <ion-radio slot="end" value=""></ion-radio>
                </ion-item>
                <ion-item
                  class="filter_list last"
                  lines="none"
                  *ngFor="let cry of category"
                >
                  <ion-text>{{ cry.categoria }}</ion-text>
                  <ion-radio
                    slot="end"
                    value="{{ cry.categoria }}"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
  <!-- Filtro por Tipo -->
      </form>
    </div>
  </div>

  <div class="cards">
    <div class="empty" *ngIf="places.length == 0">
      <div class="text_empty">
        No hay lugares para el departamento seleccionado
      </div>
      <i class="far fa-sad-tear icon_empty"></i>
    </div>
    <ion-card
      *ngFor="let item of places | filterPlaces:dataForm"
      id="{{ item.id }}"
      (click)="getPlace(item.id); sumaVisitaLugar(item.id)"
      [routerLink]="['/place-selected']"
    >
      <ion-card-header
        *ngIf="item.tipo == 'Rural'"
        color="options"
        id="place-title"
      >
        {{ item.nombre }}<span class="categoria"
          >&nbsp;&nbsp;({{item.tipo}})</span
        >
        <i style="float: right" class="fas fa-tractor"></i>
      </ion-card-header>
      <ion-card-header
        *ngIf="item.tipo == 'Urbano'"
        color="information"
        id="place-title"
      >
        {{ item.nombre }}<span class="categoria"
          >&nbsp;&nbsp;({{item.tipo}})</span
        >
        <i style="float: right" class="fas fa-city"></i>
      </ion-card-header>
      <ion-card-content>
        <img
          class="imgCard"
          src="{{ item.imagenHome['url']}}"
          alt="{{ item.nombre }}"
        />
        <div class="duracion">
          <b class="distancia"
            >{{item.distancia | formatDistancia }} -
            <span *ngIf="item.hora !== '0 h'">{{ item.hora }}</span>&nbsp;<span
              *ngIf="item.minuto !== '0 min'"
              >{{ item.minuto }}</span
            ></b
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
