.sc-ion-searchbar-md-h {
    --box-shadow: none !important;
    padding: 0px !important;
}

ion-avatar, ion-avatar>img {
    border-radius: 15% !important;
    height: 95%;
    width: 100%;
}

ion-avatar{
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
    margin-left: 4px;
}

ion-item {
    margin-top: 4%;
}

ion-img {
    width: 12%;
    margin-left: 8%;
}

ion-title {
    color: #fff;
    font-weight: 700;
}

h2 {
    font-weight: 700;
    color: #9A9A9A;
}

h3 {
    font-weight: bold;
    color: var(--ion-color-dark);
    font-size: 80%;
}

span {
    font-weight: bold;
    color: var(--ion-color-dark);
    font-size: 90%;
}

.padre {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin: 3% 0 3% 0;
}

.imagen {
    width: 25%;
}

.info {
    width: 75%;
    margin-left: 5%;
    padding: 3% 2% 2% 5%;
}

.img-elem{
    width: 100%;
    border-radius: 15%;
    margin: 0px;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    height: 35vh;
    width: auto;
  }
  
  .text_empty {
    color: #d6d2d1;
    text-align: center;
    padding-bottom: 15px;
    font-size: 1.2em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .icon_empty {
    font-size: 5em;
    color: #d6d2d1;
  }

  .form_filter {
    width: 85%;
    height: 5%;
    margin: 0 auto 5px auto;
    border: 1px solid #3880ff;
    z-index: 100;
    background-color: #fff;
    border-radius: 60px; 
    justify-content: space-around;
    position: relative;
 
}

.filter_place {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: -30px auto 10px auto;
    position: relative;
    z-index: 100;
    width: 92%;
    background-color: rgb(240, 240, 240);
    padding: 7px;
    border-radius: 60px;
}

.btn-filter {
    border-radius: 60px;
    background-color: #fc67ff;
    padding: 10px;
    width: 35%;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins';
    color: #fff;
    font-size: .8em;
}
