<ion-header>
  <ion-toolbar color="circuits">
    <ion-img slot="start" src="/assets/icon/dormir.png"></ion-img>
    <ion-title>¿Dónde Dormir?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="filter_place" (click)="changeFilter()">
    <ion-chip color="primary">
      <i class="fas fa-search magnifying"></i
      ><ion-label>filtrar lugares</ion-label></ion-chip
    >
  </div>

  <div *ngIf="isFilter" class="form_filter">
    <form [formGroup]="filterForm">
      <ion-select placeholder="Localidad" formControlName="localidad">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option
          *ngFor="let loc of locationActive"
          value="{{ loc.localidad }}"
          >{{ loc.localidad }}</ion-select-option
        >
      </ion-select>
      <ion-select placeholder="Categoría">
        <ion-select-option>Categoría</ion-select-option>
      </ion-select>
      <ion-button type="submit" (click)="filterSleep()">Filtrar</ion-button>
    </form>
  </div>
  <ion-list>
    <div class="empty" *ngIf="sleep.length == 0">
      <i class="fi fi-rr-sad icon_empty"></i>
      <div class="text_empty">
        No hay lugares para el departamento seleccionado
      </div>
    </div>
    <ion-item *ngFor="let item of sleep | filtroDondeDormir:dataForm">
      <div class="padre">
        <div class="imagen">
          <ion-avatar item-start>
            <ion-img [src]="item.imagen" class="img-elem"></ion-img>
          </ion-avatar>
        </div>
        <div class="info">
          <ion-label>
            <h2 id="sleep-info">{{ item.nombre }}</h2>
            <div class="infoAbajo">
              <h3 id="sleep-info">{{ item.direccion }}</h3>
              <p id="sleep-info" *ngFor=" let tel of item.telefonos">
                <span id="sleep-info">Tel: </span>{{ tel.numero }}
              </p>
            </div>
          </ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
