<ion-header>
    <ion-toolbar *ngIf="place.tipo == 'Rural'" color="options">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="places/{{place.id}}" color="back"></ion-back-button>
        </ion-buttons>
        <ion-title color="back">
                {{ place.nombre }}
        </ion-title>
<!-- Conjunto de botones para la reproduccion de texto a audio -->
        <ion-buttons slot="end" >
            <ion-button (click)=" escuchar = !escuchar"  type="button">
                <i class="fas fa-assistive-listening-systems access" color="back"  ></i>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="escuchar"  >
            <ion-buttons *ngIf="!speaking && !paused" >
                <ion-button 
                    (click)="velocidadReproduccion( spUttData.rate )"
                    shape="round"
                    fill="outline"
                    color="back"
                    > 
                    <strong>{{ spUttData.rate }}</strong><small>x</small> 
                </ion-button>
                <ion-button 
                    size="small"
                    (click)="speaking = !speaking ; 
                    reproducirDescripcion( place.descripcion ) "
                    color="primary"
                    >
                    <i class="fas fa-play-circle"></i>
                </ion-button>
            </ion-buttons>
            <ion-buttons *ngIf="speaking && !paused" >
                <ion-button 
                    class="btn btn-outline-dark" 
                    (click)=" paused = !paused ; pausarReproduccion() " 
                    >
                        <i class="fas fa-pause-circle"></i>
                    </ion-button>
                <ion-button 
                    (click)="speaking = !speaking "
                    color="medium" >
                    <i class="fas fa-stop-circle"></i>
                </ion-button>
            </ion-buttons>
            <ion-buttons *ngIf="speaking && paused" >
                <ion-button 
                    (click)=" paused = !paused ; reanudarReproduccion()"
                    color="secondary" >
                    <i class="fas fa-play-circle"></i>
                </ion-button>
                <ion-button 
                    color="danger" 
                    (click)="speaking = !speaking; paused = false ; 
                    detenerReproduccion()">
                    <i class="fas fa-stop-circle"></i>
                </ion-button>
            </ion-buttons>
    </ion-buttons>
   
<!-- Fin de los botones -->
    </ion-toolbar>
    <ion-toolbar *ngIf="place.tipo == 'Urbano'" color="information">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="places/{{place.id}}" color="back"></ion-back-button>
        </ion-buttons>
        <ion-title color="back">
                {{ place.nombre }}
        </ion-title>
<!-- Conjunto de botones para la reproduccion de texto a audio -->
<ion-buttons slot="end" >
    <ion-button (click)=" escuchar = !escuchar"  type="button">
        <i class="fas fa-assistive-listening-systems access" color="back"  ></i>
    </ion-button>
</ion-buttons>
<ion-buttons *ngIf="escuchar"  >
    <ion-buttons *ngIf="!speaking && !paused" >
        <ion-button 
            (click)="velocidadReproduccion( spUttData.rate )"
            shape="round"
            fill="outline"
            color="back"
            > 
            <strong>{{ spUttData.rate }}</strong><small>x</small> 
        </ion-button>
        <ion-button 
            size="small"
            (click)="speaking = !speaking ; 
            reproducirDescripcion( place.descripcion ) "
            color="primary"
            >
            <i class="fas fa-play-circle"></i>
        </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="speaking && !paused" >
        <ion-button 
            class="btn btn-outline-dark" 
            (click)=" paused = !paused ; pausarReproduccion() " 
            >
                <i class="fas fa-pause-circle"></i>
            </ion-button>
        <ion-button 
            (click)="speaking = !speaking "
            color="medium" >
            <i class="fas fa-stop-circle"></i>
        </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="speaking && paused" >
        <ion-button 
            (click)=" paused = !paused ; reanudarReproduccion()"
            color="secondary" >
            <i class="fas fa-play-circle"></i>
        </ion-button>
        <ion-button 
            color="danger" 
            (click)="speaking = !speaking; paused = false ; 
            detenerReproduccion()">
            <i class="fas fa-stop-circle"></i>
        </ion-button>
    </ion-buttons>
</ion-buttons>
<!-- Fin de los botones -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-text>
        <div class="texto" id="all-description" [innerHTML]="place.descripcion">
        </div>
    </ion-text>
    <ion-grid>
        <ion-row>
            <ion-col id="web">
                <div class="ion-text-center">
                    <div class="circulo_red" *ngIf="place.web?.length > 0">
                        <div (click)="openWeb()"><i class="fas fa-globe"></i></div>
                    </div>
                </div>
            </ion-col>
            <ion-col id="facebook">
                <div class="ion-text-center">
                    <div class="circulo_red" *ngIf="place.facebook?.length > 0">
                        <div (click)="openFacebook()"><i class="fab fa-facebook"></i></div>
                    </div>
                </div>
            </ion-col>
            <ion-col id="instagram">
                <div class="ion-text-center">
                    <div class="circulo_red" *ngIf="place.instagram?.length > 0">
                        <a href="{{ place.instagram }}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </ion-col>
            <ion-col id="whatsapp">
                <div class="ion-text-center" *ngIf="place.whatsapp?.length > 0">
                    <div class="circulo_red_wpp">
                        <a href="{{ place.whatsapp }}"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </ion-col>
            <ion-col id="phone">
                <div class="ion-text-center" *ngIf="place.telefonos?.length > 0">
                    <div class="circulo_red" (click)="callPhone()">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>