<ion-header>
    <ion-toolbar *ngIf="tipo == 'Rural'" color="options">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="places/{{id}}" color="back"></ion-back-button>
        </ion-buttons>
        <ion-title color="back">
                {{ nombre }}
        </ion-title>
<!-- Conjunto de botones para la reproduccion de texto a audio -->
        <ion-buttons slot="end" >
            <ion-button (click)=" escuchar = !escuchar" class="btn btn-outline-dark" type="button">
                <i class="fas fa-assistive-listening-systems access" color="back"  ></i>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="escuchar" >
            <ion-buttons *ngIf="!speaking && !paused" >
                <ion-button class="btn btn-outline-secondary" (click)="velocidadReproduccion( spUttData.rate )" > x{{ spUttData.rate }} </ion-button>
                <ion-button class="btn btn-outline-primary" (click)="speaking = !speaking ; reproducirDescripcion( descripcion ) ">play</ion-button>
            </ion-buttons>
            <ion-buttons *ngIf="speaking && !paused" >
                <ion-button class="btn btn-outline-dark" (click)=" paused = !paused ; pausarReproduccion() " >pausa</ion-button>
                <ion-button class="btn btn-outline-danger" (click)="speaking = !speaking " >stop</ion-button>
            </ion-buttons>
            <ion-buttons *ngIf="speaking && paused" >
                <ion-button class="btn btn-outline-warning" (click)=" paused = !paused ; reanudarReproduccion() " >reanudar</ion-button>
                <ion-button class="btn btn-outline-danger" (click)="speaking = !speaking; paused = false ; detenerReproduccion() " >stop</ion-button>
            </ion-buttons>
        </ion-buttons>
<!-- Fin de los botones -->
    </ion-toolbar>
    <ion-toolbar *ngIf="tipo == 'Urbano'" color="information">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="places/{{id}}" color="back"></ion-back-button>
        </ion-buttons>
        <ion-title color="back">
                {{ nombre }}
            <button (click)="reproducirDescripcion()" class="btn btn-outline-dark" type="button">
                <i class="fas fa-assistive-listening-systems access" color="back"  ></i>
            </button>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-text>
        <div class="texto" id="all-description" [innerHTML]="descripcion">
        </div>
    </ion-text>
    <ion-grid>
        <ion-row>
            <ion-col id="web">
                <div class="ion-text-center">
                    <div class="circulo_red" *ngIf="web?.length > 0">
                        <div (click)="openWeb()"><i class="fas fa-globe"></i></div>
                    </div>
                </div>
            </ion-col>
            <ion-col id="facebook">
                <div class="ion-text-center">
                    <div class="circulo_red" *ngIf="facebook?.length > 0">
                        <div (click)="openFacebook()"><i class="fab fa-facebook"></i></div>
                    </div>
                </div>
            </ion-col>
            <ion-col id="instagram">
                <div class="ion-text-center">
                    <div class="circulo_red" *ngIf="instagram?.length > 0">
                        <a href="{{ instagram }}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </ion-col>
            <ion-col id="whatsapp">
                <div class="ion-text-center" *ngIf="whatsapp?.length > 0">
                    <div class="circulo_red_wpp">
                        <a href="{{ whatsapp }}"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </ion-col>
            <ion-col id="phone">
                <div class="ion-text-center" *ngIf="phone?.length > 0">
                    <div class="circulo_red" (click)="callPhone()">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>